.box-element{
	box-shadow:hsl(0, 0%, 80%) 0 0 1rem;
	background-color: #fff;
	border-radius: 2px;
	padding: 1rem;
}

.row {
	justify-content: center;
	margin: 2rem 4rem;
}

.btn{
	border-radius: 0;
    background-color: #111;
	color: #fff;
	border: none;
}

.btn:hover {
    background-color: #222;
	color: #fff;
	border: none;
}

.form-control {
	border-radius: 2px;
}

.form-control:focus {
    border: 1px solid #111;
    box-shadow: none;
}

.form-field{
	width:16rem;
	display: inline-block;
	padding: 0.4rem;
}

.row-image{
	width: 5rem;
	height:6rem;
}

.cart-row{
	display: flex;
    align-items: flex-stretch;
    padding-bottom: 0.6rem;
    margin-bottom: 0.6rem;
    border-bottom: 1px solid #ececec;

}

.hidden{
	display: none!important;
}

#payment-info{
	margin-bottom: 1rem;
}

@media screen and (max-width:576px) {
	.row {
		margin: 2rem 1.5rem;
	}
	.cart-row{
		gap: 0.5rem;
		flex-wrap: wrap
	}
}

@media screen and (max-width:400px) {
	.form-field {
		width: 95%;
	}
}