<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

{% block title %} About {% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}">
{% endblock %}

{% block content %}
<!-- SECTION 1 -->
<div class="content">    
    <div class="container col-xxl-8 px-4 py-3">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="{% static 'images/sweater.jpg' %}" class="d-block mx-lg-auto img-fluid" width="500" height="500"
                    loading="lazy">
            </div>
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold lh-1 mb-3">ABOUT NeoStyle</h1>
                <p class="lead">Innovative Designs for Fashion-Forward Individuals.</p>
                <p class="lead">The place where you can experience the next level of streetwear and elevate your wardrobe.
                </p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                    <a href="{% url 'products' %}"><button type="button" class="btn btn-outline-secondary btn-lg px-4 btn-1">Shop Now</button></a>
                </div>
            </div>
        </div>
    </div>

    <div class="banner">
        <h1>Where style meets innovation!</h1>
    </div>


    <!-- SECTION 2 -->
    <div class="columns">
        <div class="left-column">
            <div class="section-two">
                <h2>Who are we?</h2>
                <p class="lead"> NeoStyle is a clothing brand that is dedicated to creating <strong>unique and innovative
                        designs</strong>
                    for fashion-forward individuals. We believe that fashion should not only be about looking
                    good, but also about making a statement.
                </p>
                <p class="lead">
                    We are a team of passionate individuals who believe
                    that fashion is a form of <strong>self-expression</strong>, and we want to give our customers the tools
                    to
                    express themselves in a unique and powerful way.
                </p>
            </div>
            <img src="{% static 'images/girl.jpg' %}">
        </div>

        <div class="right-column">
            <img src="{% static 'images/boy.jpg' %}">
            <div>
                <h2>Our Mission</h2>
                <p class="lead">Our mission is to create clothes that are not just stylish, but also <strong>functional and
                        sustainable</strong>.
                    We believe that fashion should not come at the expense of the environment, and we use only the
                    highest-quality materials that are both <strong> durable and eco-friendly</strong>.
                </p>
                <p class="lead">
                    We are not afraid to take risks, and we are always looking for ways to challenge the status quo.
                    We are a brand for the future, and we are excited to share our vision with you.
                </p>
                <p class="lead">
                    Join us on our journey and be a part of the Neo Style revolution.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
</div> 